Source: sugar-base
Section: x11
Priority: optional
Maintainer: Jonas Smedegaard <dr@jones.dk>
Build-Depends: cdbs (>= 0.4.23-1.1), libtool, automake1.10, autoconf, debhelper (>= 5), devscripts (>= 2.10.7), dh-buildinfo, python-gtk2-dev, python-gobject-dev (>= 2), python-central
Standards-Version: 3.7.3
Vcs-Git: git://git.debian.org/git/collab-maint/sugar-base.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/sugar-base.git;a=summary
Homepage: http://wiki.laptop.org/go/Sugar
XS-Python-Version: all

Package: sugar-base
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Sugar graphical shell - core functionality
 Sugar is a graphical user interface aimed at children.
 .
 Sugar is mainly used as the interfaced for One Laptop Per Child (OLPC)
 machines.
 .
 This package contains the base modules for Sugar.
