#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2007-2008 Jonas Smedegaard <dr@jones.dk>

# NB! Local CDBS tweaks in use. More info in README.cdbs-tweaks
include debian/cdbs/1/rules/upstream-tarball.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include debian/cdbs/1/rules/copyright-check.mk
include debian/cdbs/1/rules/buildinfo.mk

DEB_UPSTREAM_URL = http://dev.laptop.org/pub/sugar/sources/sugar-base
DEB_UPSTREAM_TARBALL_EXTENSION = tar.bz2
DEB_UPSTREAM_TARBALL_MD5 = d5cad965ab884373ab19649175c7fd3d

binary-install/sugar-base::
	dh_pycentral

# Needed by upstream build process
CDBS_BUILD_DEPENDS := $(CDBS_BUILD_DEPENDS), python-gtk2-dev, python-gobject-dev (>= 2)

# Needed for our packaging routines
CDBS_BUILD_DEPENDS := $(CDBS_BUILD_DEPENDS), python-central
